## Google drive mount
---

In [3]:
# google drive에 있는 데이터를 사용하기 위해 접근

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Library import
---

In [4]:
import pandas as pd, numpy as np
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from math import *

## 필요 함수 정의
---

In [5]:
# 유클리디안 거리를 구하기 위한 함수
def euclidean_distance(A, B):
    return np.sqrt(np.sum((A-B)**2))

## 데이터 불러오기
---

In [7]:
# 지역데이터 불러오기
city = pd.read_csv("/content/drive/MyDrive/서울시행정동별통합.csv")

In [8]:
# 지역 데이터
city

,자치구,행정동,인구전입량,청년1인가구인구수,아파트월세보증금,아파트월세,다세대주택월세보증금,다세대주택보증금,오피스텔월세보증금,오피스텔월세,아파트매매가,오피스텔매매가,다세대주택매매가,아파트전세,다세대주택전세,오피스텔전세,응급실수,대형마트수,주요공원수,지하철역수
0,송파구,가락동,1633.0,1599.0,15793.174560,38.299252,8627.313725,57.039216,5166.666667,42.666667,92739.51308,16495.18273,31478.11614,68057.98630,16480.87368,5166.666667,1,2,0,5
1,구로구,가리봉동,934.0,194.0,NaN,NaN,7028.571429,42.428571,1000.000000,60.000000,36556.00000,21340.47291,23695.47506,NaN,10643.33333,9112.500000,0,0,0,0
2,금천구,가산동,4218.0,1540.0,5403.500000,39.458333,8302.352941,51.176471,3099.193548,50.951613,31481.84721,23561.43811,22441.58696,29833.33333,12942.22222,11263.769230,0,5,0,3
3,은평구,갈현동,1053.0,1109.0,1500.000000,45.000000,5519.230769,57.153846,NaN,NaN,34098.90121,14300.80952,23501.15568,30816.66667,14372.92683,NaN,2,1,0,2
4,강동구,강일동,332.0,300.0,5866.669725,23.339450,NaN,NaN,541.666667,52.250000,65862.74874,12295.88776,NaN,20323.83902,NaN,2583.533333,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,중구,회현동,99.0,69.0,NaN,NaN,2000.000000,60.000000,NaN,NaN,125698.88120,15556.66667,41843.35000,106000.00000,13500.00000,NaN,0,5,2,2
197,용산구,효창동,348.0,341.0,30000.000000,157.500000,15285.714290,39.000000,NaN,NaN,85729.80190,NaN,40656.87543,73080.00000,24508.33333,NaN,0,0,1,1
198,용산구,후암동,635.0,420.0,12666.666670,80.000000,10900.000000,45.200000,NaN,NaN,75013.53909,16485.00000,41042.53325,45812.50000,19847.67442,NaN,0,0,0,0
199,동대문구,휘경동,2887.0,1379.0,12787.705880,54.470588,6428.571429,43.571429,888.888889,84.444444,54766.10240,14816.14417,29115.61133,41974.22000,7000.00000,2788.095238,1,1,0,3
200,동작구,흑석동,941.0,371.0,10928.278910,50.986395,25000.000000,35.000000,NaN,NaN,104460.04000,NaN,55453.86515,61644.75532,26000.00000,NaN,1,1,0,1

In [34]:
# 현재 유저 정보 입력
username = 'A'
contract = '전세'
house_type = '오피스텔'
deposit = 10000
monthly = 0
prefer1 = '인구'
prefer2 = '대형마트'
prefer3 = '지하철'

# 보증금(전세금) 상/하한 및 월세 상/하한값 설정
deposit_diff = 500
monthly_diff = 10

# 유저 정보를 바탕으로 데이터프레임으로 변환
user = pd.DataFrame({'사용자':[username], '계약분류':[contract],'주거형태':[house_type],'보증금(전세금)':[deposit],'월세':[monthly],'선호1순위':[prefer1],'선호2순위':[prefer2],'선호3순위':[prefer3]})
user

  사용자 계약분류  주거형태  보증금(전세금)  월세 선호1순위 선호2순위 선호3순위
0   A   전세  오피스텔     10000   0    인구  대형마트   지하철

## 데이터 전처리
---
  - 유사도 계산 시, 결측값이 존재하면 안되므로 결측치는 중앙값으로 대체

In [ ]:
# 인구전입량, 청년1인가구수 포함 가격과 관련된 변수들은 모두 수치형이므로 각 변수별 중앙값으로 결측값 대체(중앙값)
for col in city.columns[2:-4]:
    city[col] = city[col].fillna(city[col].median())

In [10]:
city

,자치구,행정동,인구전입량,청년1인가구인구수,아파트월세보증금,아파트월세,다세대주택월세보증금,다세대주택보증금,오피스텔월세보증금,오피스텔월세,아파트매매가,오피스텔매매가,다세대주택매매가,아파트전세,다세대주택전세,오피스텔전세,응급실수,대형마트수,주요공원수,지하철역수
0,송파구,가락동,1633.0,1599.0,15793.174560,38.299252,8627.313725,57.039216,5166.666667,42.666667,92739.51308,16495.18273,31478.11614,68057.98630,16480.87368,5166.666667,1,2,0,5
1,구로구,가리봉동,934.0,194.0,NaN,NaN,7028.571429,42.428571,1000.000000,60.000000,36556.00000,21340.47291,23695.47506,NaN,10643.33333,9112.500000,0,0,0,0
2,금천구,가산동,4218.0,1540.0,5403.500000,39.458333,8302.352941,51.176471,3099.193548,50.951613,31481.84721,23561.43811,22441.58696,29833.33333,12942.22222,11263.769230,0,5,0,3
3,은평구,갈현동,1053.0,1109.0,1500.000000,45.000000,5519.230769,57.153846,NaN,NaN,34098.90121,14300.80952,23501.15568,30816.66667,14372.92683,NaN,2,1,0,2
4,강동구,강일동,332.0,300.0,5866.669725,23.339450,NaN,NaN,541.666667,52.250000,65862.74874,12295.88776,NaN,20323.83902,NaN,2583.533333,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,중구,회현동,99.0,69.0,NaN,NaN,2000.000000,60.000000,NaN,NaN,125698.88120,15556.66667,41843.35000,106000.00000,13500.00000,NaN,0,5,2,2
197,용산구,효창동,348.0,341.0,30000.000000,157.500000,15285.714290,39.000000,NaN,NaN,85729.80190,NaN,40656.87543,73080.00000,24508.33333,NaN,0,0,1,1
198,용산구,후암동,635.0,420.0,12666.666670,80.000000,10900.000000,45.200000,NaN,NaN,75013.53909,16485.00000,41042.53325,45812.50000,19847.67442,NaN,0,0,0,0
199,동대문구,휘경동,2887.0,1379.0,12787.705880,54.470588,6428.571429,43.571429,888.888889,84.444444,54766.10240,14816.14417,29115.61133,41974.22000,7000.00000,2788.095238,1,1,0,3
200,동작구,흑석동,941.0,371.0,10928.278910,50.986395,25000.000000,35.000000,NaN,NaN,104460.04000,NaN,55453.86515,61644.75532,26000.00000,NaN,1,1,0,1

## 유사도 기반 지역 추천
  1. 계약 분류와 주거형태에 따라 해당하는 보증금 및 월세의 유사도 계산
    - 매매/전세는 단순 차이 계산
    - 월세의 경우 금액 관련 변수는 scaling 후, euclidean 유사도를 계산
    - 기본 범위로 월세의 경우 보증금 +- 500, 월세 +- 10 이내 지역만 추출(변경 가능)
    - 기본 범위로 전세/매매의 경우 보증금 +- 10000 이내 지역만 추출(변경 가능)
  2. 유사도가 가까운 지역 n개에 대해 선호 1순위, 선호 2순위, 선호 3순위 순서로 sorting하여 최종 지역 선별

In [11]:
city

,자치구,행정동,인구전입량,청년1인가구인구수,아파트월세보증금,아파트월세,다세대주택월세보증금,다세대주택보증금,오피스텔월세보증금,오피스텔월세,아파트매매가,오피스텔매매가,다세대주택매매가,아파트전세,다세대주택전세,오피스텔전세,응급실수,대형마트수,주요공원수,지하철역수
0,송파구,가락동,1633.0,1599.0,15793.174560,38.299252,8627.313725,57.039216,5166.666667,42.666667,92739.51308,16495.18273,31478.11614,68057.98630,16480.87368,5166.666667,1,2,0,5
1,구로구,가리봉동,934.0,194.0,NaN,NaN,7028.571429,42.428571,1000.000000,60.000000,36556.00000,21340.47291,23695.47506,NaN,10643.33333,9112.500000,0,0,0,0
2,금천구,가산동,4218.0,1540.0,5403.500000,39.458333,8302.352941,51.176471,3099.193548,50.951613,31481.84721,23561.43811,22441.58696,29833.33333,12942.22222,11263.769230,0,5,0,3
3,은평구,갈현동,1053.0,1109.0,1500.000000,45.000000,5519.230769,57.153846,NaN,NaN,34098.90121,14300.80952,23501.15568,30816.66667,14372.92683,NaN,2,1,0,2
4,강동구,강일동,332.0,300.0,5866.669725,23.339450,NaN,NaN,541.666667,52.250000,65862.74874,12295.88776,NaN,20323.83902,NaN,2583.533333,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,중구,회현동,99.0,69.0,NaN,NaN,2000.000000,60.000000,NaN,NaN,125698.88120,15556.66667,41843.35000,106000.00000,13500.00000,NaN,0,5,2,2
197,용산구,효창동,348.0,341.0,30000.000000,157.500000,15285.714290,39.000000,NaN,NaN,85729.80190,NaN,40656.87543,73080.00000,24508.33333,NaN,0,0,1,1
198,용산구,후암동,635.0,420.0,12666.666670,80.000000,10900.000000,45.200000,NaN,NaN,75013.53909,16485.00000,41042.53325,45812.50000,19847.67442,NaN,0,0,0,0
199,동대문구,휘경동,2887.0,1379.0,12787.705880,54.470588,6428.571429,43.571429,888.888889,84.444444,54766.10240,14816.14417,29115.61133,41974.22000,7000.00000,2788.095238,1,1,0,3
200,동작구,흑석동,941.0,371.0,10928.278910,50.986395,25000.000000,35.000000,NaN,NaN,104460.04000,NaN,55453.86515,61644.75532,26000.00000,NaN,1,1,0,1

In [35]:
from collections import UserList
# 지역 데이터를 처리하기 위해 city_tmp 생성
city_tmp = city.copy()

# 현재 사용자의 원하는 계약 분류 및 주거 형태 추출
contract = user['계약분류'].values[0]
house_type = user['주거형태'].values[0]

# 지역 데이터에서 사용자의 계약분류 및 주거형태와 관련있는 변수만 추출
tmp = city.loc[:,[i for i in city.columns if (contract in i) & (house_type in i)]].copy()

# 계약 분류가 월세인 경우
if contract == "월세":

    # 월세인 경우, 보증금 및 월세에 대한 단위 통일 후, 사용자가 입력한 값과 지역간 유클리드 거리 계산(distance)
    scaler = MinMaxScaler()
    scaled = pd.DataFrame(scaler.fit_transform(tmp))
    user_scaled = scaler.transform(np.reshape(user[['보증금(전세금)','월세']].values,(-1,2)))[0]
    distance = scaled.apply(lambda x : euclidean_distance(x,user_scaled),axis=1)
    city_tmp['distance'] = distance

    # 사용자의 보증금에 대한 상/하한 범위 내 포함되면서 월세에 대한 상/하한 내 속하는 지역만 추출 후, 유클리드 거리가 짧은 순으로 정렬
    city_tmp = city_tmp.loc[((user['보증금(전세금)'].values[0]-deposit_diff <= city_tmp[tmp.columns[0]]) & (city_tmp[tmp.columns[0]]<=user['보증금(전세금)'].values[0]+deposit_diff)) & ((user['월세'].values[0]-monthly_diff <= city_tmp[tmp.columns[1]])& (city_tmp[tmp.columns[1]] <= user['월세'].values[0]+monthly_diff))]
    city_tmp = city_tmp.sort_values(['distance']).reset_index(drop=True)

    # 선호 순위가 인구인 경우, 인구전입량으로 나머지는 해당 순위가 속하는 컬럼을 기준으로하여, 선호 1순위부터 3순위 순서로 선호도가 많은 수로 지역 정렬
    if user['선호1순위'][0] == "인구":
        sort_col_2 = [i for i in city_tmp.columns if user['선호2순위'][0] in i][0]
        sort_col_3 = [i for i in city_tmp.columns if user['선호3순위'][0] in i][0]
        city_tmp = city_tmp.sort_values(['인구전입량',sort_col_2,sort_col_3],ascending=False)
        city_tmp = city_tmp.loc[:,['자치구','행정동',tmp.columns[0],tmp.columns[1],'인구전입량',sort_col_2,sort_col_3]].reset_index(drop=True)
    elif user['선호2순위'][0] == "인구":
        sort_col_1 = [i for i in city_tmp.columns if user['선호1순위'][0] in i][0]
        sort_col_3 = [i for i in city_tmp.columns if user['선호3순위'][0] in i][0]
        city_tmp = city_tmp.sort_values([sort_col_1,'인구전입량',sort_col_3], ascending=False)
        city_tmp = city_tmp.loc[:,['자치구','행정동',tmp.columns[0],tmp.columns[1],sort_col_1,'인구전입량',sort_col_3]].reset_index(drop=True)
    elif user['선호3순위'][0] == "인구":
        sort_col_1 = [i for i in city_tmp.columns if user['선호1순위'][0] in i][0]
        sort_col_2 = [i for i in city_tmp.columns if user['선호2순위'][0] in i][0]
        city_tmp = city_tmp.sort_values([sort_col_1,sort_col_2,'인구전입량'], ascending=False)
        city_tmp = city_tmp.loc[:,['자치구','행정동',tmp.columns[0],tmp.columns[1],sort_col_1,sort_col_2,'인구전입량']].reset_index(drop=True)
    else:
        sort_col_1 = [i for i in city_tmp.columns if user['선호1순위'][0] in i][0]
        sort_col_2 = [i for i in city_tmp.columns if user['선호2순위'][0] in i][0]
        sort_col_3 = [i for i in city_tmp.columns if user['선호3순위'][0] in i][0]
        city_tmp = city_tmp.sort_values([sort_col_1,sort_col_2,sort_col_3], ascending=False)
        city_tmp = city_tmp.loc[:,['자치구','행정동',tmp.columns[0],tmp.columns[1],sort_col_1,sort_col_2,sort_col_3]].reset_index(drop=True)

    print("\n\n현재 유저 상태: \n")
    display(user)
    print("전세 상하한: ", deposit_diff)
    print("월세 상하한: ", monthly_diff)
    print("추천지역 :")
    display(city_tmp)

# 계약 분류가 전세/매매인 경우
else:

    # 전세/매매인경우 사용자의 보증금과 지역별 매매가/전세가의 차이의 절대값을 거리로 간주
    city_tmp['distance'] = abs(city_tmp[tmp.columns[0]] - user['보증금(전세금)'].values[0])

    # 사용자의 보증금에 대한 상/하한 범위 내 포함되면서 거리가 짧은 순으로 정렬
    city_tmp = city_tmp.loc[((user['보증금(전세금)'].values[0]-deposit_diff <= city_tmp[tmp.columns[0]]) & (city_tmp[tmp.columns[0]]<=user['보증금(전세금)'].values[0]+deposit_diff))]
    city_tmp = city_tmp.sort_values(['distance']).reset_index(drop=True)

    # 선호 순위가 인구인 경우, 인구전입량으로 나머지는 해당 순위가 속하는 컬럼을 기준으로하여, 선호 1순위부터 3순위 순서로 선호도가 많은 수로 지역 정렬
    if user['선호1순위'][0] == "인구":
        sort_col_2 = [i for i in city_tmp.columns if user['선호2순위'][0] in i][0]
        sort_col_3 = [i for i in city_tmp.columns if user['선호3순위'][0] in i][0]
        city_tmp = city_tmp.sort_values(['인구전입량',sort_col_2,sort_col_3],ascending=False)
        city_tmp = city_tmp.loc[:,['자치구','행정동',tmp.columns[0],'인구전입량',sort_col_2,sort_col_3]].reset_index(drop=True)
    elif user['선호2순위'][0] == "인구":
        sort_col_1 = [i for i in city_tmp.columns if user['선호1순위'][0] in i][0]
        sort_col_3 = [i for i in city_tmp.columns if user['선호3순위'][0] in i][0]
        city_tmp = city_tmp.sort_values([sort_col_1,'인구전입량',sort_col_3], ascending=False)
        city_tmp = city_tmp.loc[:,['자치구','행정동',tmp.columns[0],sort_col_1,'인구전입량',sort_col_3]].reset_index(drop=True)
    elif user['선호3순위'][0] == "인구":
        sort_col_1 = [i for i in city_tmp.columns if user['선호1순위'][0] in i][0]
        sort_col_2 = [i for i in city_tmp.columns if user['선호2순위'][0] in i][0]
        city_tmp = city_tmp.sort_values([sort_col_1,sort_col_2,'인구전입량'], ascending=False)
        city_tmp = city_tmp.loc[:,['자치구','행정동',tmp.columns[0],sort_col_1,sort_col_2,'인구전입량']].reset_index(drop=True)
    else:
        sort_col_1 = [i for i in city_tmp.columns if user['선호1순위'][0] in i][0]
        sort_col_2 = [i for i in city_tmp.columns if user['선호2순위'][0] in i][0]
        sort_col_3 = [i for i in city_tmp.columns if user['선호3순위'][0] in i][0]
        city_tmp = city_tmp.sort_values([sort_col_1,sort_col_2,sort_col_3], ascending=False)
        city_tmp = city_tmp.loc[:,['자치구','행정동',tmp.columns[0],sort_col_1,sort_col_2,sort_col_3]].reset_index(drop=True)

    # city_tmp = city_tmp.loc[:,[tmp.columns[0],sort_col_1, sort_col_2, sort_col_3]].reset_index(drop=True)
    print("\n\n현재 유저 상태: \n")
    display(user)
    print("전세 상하한: ", deposit_diff)
    print("추천지역 :")
    display(city_tmp)

현재 유저 상태:

  사용자 계약분류  주거형태  보증금(전세금)  월세 선호1순위 선호2순위 선호3순위
0   A   전세  오피스텔     10000   0    인구  대형마트   지하철

전세 상하한:  500
추천지역 :

     자치구    행정동        오피스텔전세   인구전입량  대형마트수  지하철역수
0    강서구    화곡동  10320.967740  9313.0      6      4
1    구로구    구로동  10190.116280  6323.0     12      5
2    광진구    화양동  10082.976740  4925.0      2      3
3    동작구    사당동   9650.000000  4764.0      3     14
4    노원구    공릉동  10250.000000  3574.0      3      4
5   서대문구    연희동   9612.727273  2664.0      1      0
6    구로구    오류동  10431.041670  2350.0      2      3
7    성동구  성수1가동   9818.181818  1004.0      1      2
8    은평구    신사동   9561.538462   960.0      1      2
9   서대문구   북아현동  10309.523810   357.0      1      0
10    중구     필동   9993.181818   343.0      0      3
11   서초구    내곡동   9760.000000   279.0      0      1
12   강서구    방화동   9656.185984     NaN      6      5
13   강서구    방화동   9656.185984     NaN      6      4
14   강서구    방화동   9656.185984     NaN      6      1
15   마포구    도화동  10000.000000     NaN      0      0